RESTIC_REPOSITORY=s3:https://replace_with_contabo_object_storage_endpoint/cove-production
AWS_ACCESS_KEY_ID=replace_with_object_storage_access_key
AWS_SECRET_ACCESS_KEY=replace_with_object_storage_secret_key
RESTIC_PASSWORD=replace_with_long_offline_recovery_password
BACKUP_HEALTHCHECK_URL=https://hc-ping.com/replace_with_check_uuid
